<div>
  <%= link_to "profile", edit_admin_registration_path, class: "dropdown-item link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
  <%= link_to "sign out", destroy_admin_session_path, class: "dropdown-item link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover", method: :delete, data: {turbo_method: :delete} %>
</div>