<div class="row justify-content-center">
  <div class="col-md-6">
    <%= link_to "back", admin_part_types_path, class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
    <h1>New part type</h1>
    <%= render "form", part_type: @part_type %>
  </div>
</div>